<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= title %></h1>
    <p><%=__('Welcome to') %> <%= title %></p>

    <% ads.forEach(ad => { %>
    <p>
      <%= __('Advertisement') %>: <%= ad.name %>. <%= __('It is') %> <%=
      ad.isType %> <br />
      <%= __('Description') %>: <%= ad.description %> <br />
      <%= __('Price') %>: <%= ad.price %>. Tag/s: <%= ad.tags %><br />
      <img src="<%= ad.image%>" alt="" />
    </p>
    <% }) %>
  </body>
</html>
